{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
    <div class="fr-collapse" id="breadcrumb-1">
        <ol class="fr-breadcrumb__list">
            <li>
                <a class="fr-breadcrumb__link" href="#/">Accueil</a>
            </li>
            <li>
                <a class="fr-breadcrumb__link" href="#/">Renseignement sur l'étudiant(e)</a>
            </li>
             <li>
                <a class="fr-breadcrumb__link" href="#/">Scolarité antérieur de l'étudiant(e)</a>
            </li>
            
    </div>
</nav>

<h1 style = 'margin-left: 10px'>Inscription au Lycée Fulbert</h1>
<div class="fr-stepper" style = 'margin: 20px'>
    <h2 class="fr-stepper__title">
        Titre de la dernière étape en cours
        <span class="fr-stepper__state">Étape 5 sur 7</span>
    </h2>
    <div class="fr-stepper__steps" data-fr-current-step="5" data-fr-steps="7"></div>
</div>

<h2 style = 'margin: 20px'>Fiche d'Intendance</h2>
<fieldset class="fr-fieldset" id="radio-inline" aria-labelledby="radio-inline-legend radio-inline-messages" style='margin:35px'>
    <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="radio-inline-legend">
        <h2 style = 'margin-left: 10px'>Régime :</h2>
    </legend>
    <div class="fr-fieldset__element fr-fieldset__element--inline" style = 'margin-left: 10px'>
        <div class="fr-radio-group">
            <input type="radio" id="radio-inline-1" name="radio-inline">
            <label class="fr-label" for="radio-inline-1">
                Externe
            </label>
        </div>
    </div>
    <div class="fr-fieldset__element fr-fieldset__element--inline">
        <div class="fr-radio-group">
            <input type="radio" id="radio-inline-2" name="radio-inline">
            <label class="fr-label" for="radio-inline-2">
                Demi Pensionnaire à l’Unité (Ticket à 4,55€)
            </label>
        </div>
    </div>
    <div class="fr-fieldset__element fr-fieldset__element--inline">
        <div class="fr-radio-group">
            <input type="radio" id="radio-inline-3" name="radio-inline">
            <label class="fr-label" for="radio-inline-3">
                Demi Pensionnaire au Forfait 4J
            </label>
        </div>
    </div>
    <div class="fr-fieldset__element fr-fieldset__element--inline">
        <div class="fr-radio-group">
            <input type="radio" id="radio-inline-4" name="radio-inline">
            <label class="fr-label" for="radio-inline-4">
                Demi Pensionnaire au Forfait 5J
            </label>
        </div>
    </div>
    <div class="fr-messages-group" id="radio-inline-messages" aria-live="assertive">
    </div>
    
</fieldset>

<fieldset class="fr-fieldset" id="radio-inline" aria-labelledby="radio-inline-legend radio-inline-messages" style='margin:35px'>
    <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="radio-inline-legend">
        <h2 style = 'margin-left: 10px'>Mode de paiement</h2>
    </legend>
    <div class="fr-fieldset__element fr-fieldset__element--inline" style = 'margin-left: 10px'>
        <div class="fr-radio-group">
            <input type="radio" id="radio-inline-5" name="radio-inline">
            <label class="fr-label" for="radio-inline-5">
                Chèque
            </label>
        </div>
    </div>
    <div class="fr-fieldset__element fr-fieldset__element--inline">
        <div class="fr-radio-group">
            <input type="radio" id="radio-inline-6" name="radio-inline">
            <label class="fr-label" for="radio-inline-6">
                Carte Bancaire
            </label>
        </div>
    </div>
    <div class="fr-fieldset__element fr-fieldset__element--inline">
        <div class="fr-radio-group">
            <input type="radio" id="radio-inline-7" name="radio-inline">
            <label class="fr-label" for="radio-inline-7">
                Espèces
            </label>
        </div>
    </div>
    <div class="fr-fieldset__element fr-fieldset__element--inline">
        <div class="fr-radio-group">
            <input type="radio" id="radio-inline-8" name="radio-inline">
            <label class="fr-label" for="radio-inline-8">
                Télépaiement
            </label>
        </div>
    </div>
    <div class="fr-messages-group" id="radio-inline-messages" aria-live="assertive">
    </div>
</fieldset>

<h2 style = 'margin: 50px'> RIB </h2>
<div class="fr-input-group"style = 'margin: 35px'>
    <label class="fr-label" for="text-input-option">Le RIB doit être fourni en cas de remboursement tout au long de la scolarité. 
    </label>
    <input class="fr-input" type="text" id="text-input-option" name="text-input-option">
</div>
<button class="fr-btn" style="margin:5px">
    Suivant ->
</button>

{% endblock %}