{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
    <div class="fr-collapse" id="breadcrumb-1">
        <ol class="fr-breadcrumb__list">
            <li>
                <a class="fr-breadcrumb__link" href="/">Accueil</a>
            </li>
            <li>
                <a class="fr-breadcrumb__link" href="/form/1">Renseignement sur l'étudiant(e)</a>
            </li>
             <li>
                <a class="fr-breadcrumb__link" href="/form/2">Scolarité antérieur de l'étudiant(e)</a>
            </li>
            <li>
                <a class="fr-breadcrumb__link" href="/form/3">Responsable légaux</a>
            </li>
            <li>
                <a class="fr-breadcrumb__link">Fiche d'urgence</a>
            </li>
            
    </div>
</nav>

<h1 style = 'margin-left: 10px'>Inscription au Lycée Fulbert</h1>
<div class="fr-stepper" style = 'margin: 20px'>
    <h2 class="fr-stepper__title">
        Titre de la dernière étape en cours
        <span class="fr-stepper__state">Étape 4 sur 7</span>
    </h2>
    <div class="fr-stepper__steps" data-fr-current-step="4" data-fr-steps="7"></div>
</div>
<h2 style = 'margin: 35px'>Fiche d'urgence</h2>


<div class="fr-input-group"style = 'margin: 35px'>
    <label class="fr-label" for="text-input-option"> Nom du medecin
    </label>
    <input class="fr-input" type="text" id="text-input-option" name="text-input-option">
</div>

<div class="fr-input-group"style = 'margin: 35px'>
    <label class="fr-label" for="text-input-option"> Adresse du medecin
    </label>
    <input class="fr-input" type="text" id="text-input-option" name="text-input-option">
</div>

<div class="fr-input-group"style = 'margin: 35px'>
    <label class="fr-label" for="text-input-option">Téléphone du médecin
    </label>
    <input class="fr-input" type="text" id="text-input-option" name="text-input-option">
</div>


<div class="fr-input-group"style = 'margin: 35px'>
<label class = "fr-label" for="text-input_date"> Date du dernier rappel de vaccin antitétanique
<input class="fr-input "type="date">

</div>

<a class="fr-btn" href="/form/5">Suivant</a>

{% endblock %}