{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
    <div class="fr-collapse" id="breadcrumb-1">
        <ol class="fr-breadcrumb__list">
            <li>
                <a class="fr-breadcrumb__link" href="/">Accueil</a>
            </li>
            <li>
                <a class="fr-breadcrumb__link" href="/form/1">Renseignement sur l'étudiant(e)</a>
            </li>
             <li>
                <a class="fr-breadcrumb__link" href="/form/2">Scolarité antérieur de l'étudiant(e)</a>
            </li>
            <li>
                <a class="fr-breadcrumb__link" href="/form/3">Responsable légaux</a>
            </li>
            <li>
                <a class="fr-breadcrumb__link" href="/form/4">Fiche d'urgence</a>
            </li>
            <li>
                <a class="fr-breadcrumb__link" href="/form/5">Fiche d'intendance</a>
            </li>
            <li>
                <a class="fr-breadcrumb__link">Fiche d'intendance</a>
            </li>
    </div>
</nav>

<h1 style = 'margin-left: 10px'>Inscription au Lycée Fulbert</h1>
<div class="fr-stepper" style = 'margin: 20px'>
    <h2 class="fr-stepper__title">
        Titre de la dernière étape en cours
        <span class="fr-stepper__state">Étape 6 sur 7</span>
    </h2>
    <div class="fr-stepper__steps" data-fr-current-step="6" data-fr-steps="7"></div>
</div>
<h2 style = 'margin: 20px'>Document à fournir</h2>

<!-- Ajout multiple : ajout de l'attribut multiple sur la balise input -->
<label>Notification de bourse (si perçu)</label>
<input class="fr-upload" type="file" id="file-upload" name="file-upload" multiple>

<!-- Ajout multiple : ajout de l'attribut multiple sur la balise input -->
<label>Assurance Scolaire</label>
<input class="fr-upload" type="file" id="file-upload" name="file-upload" multiple>

<!-- Ajout multiple : ajout de l'attribut multiple sur la balise input -->Photo d’identité
<label>Certificat de participation à la journée défense et citoyenté (JDC)</label>
<input class="fr-upload" type="file" id="file-upload" name="file-upload" multiple>

<!-- Ajout multiple : ajout de l'attribut multiple sur la balise input -->
<label>Photo d’identité (recto et verso)</label>
<input class="fr-upload" type="file" id="file-upload" name="file-upload" multiple>
<a class="fr-btn" href="/form/end">Suivant</a>


{% endblock %}