{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}


{% block body %}
<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
    <div class="fr-collapse" id="breadcrumb-1">
        <ol class="fr-breadcrumb__list">
            <li>
                <a class="fr-breadcrumb__link" href="/">Accueil</a>
            </li>
            <li>
                <a class="fr-breadcrumb__link">Renseignement</a>
            </li>            
    </div>
</nav>

<div class="fr-container">
    <div class="fr-container">
        <h1>Inscription au Lycée Fulbert</h1>
        <div class="fr-stepper">
            <h2 class="fr-stepper__title">
                Renseignement
                <span class="fr-stepper__state">Étape 1 sur 7</span>
            </h2>
            <div class="fr-stepper__steps" data-fr-current-step="1" data-fr-steps="7"></div>
            <p class="fr-stepper__details">
                <span class="fr-text--bold">Étape suivante :</span> Scolarité antérieur
            </p>
        </div>
    </div>
</div>


<div class="fr-container">
    <div class="fr-container">
        <div class="fr-mb-4w sp-perso">
            <div class="sp-perso-header">
                <h3 class="fr-h3 sp-perso-title sp-accent">Identité de l'élève</h3>
            </div>
            <form method="get" action="#">
            <div class="fr-input-group fr-grid-row">
                <fieldset class="fr-fieldset" aria-label="Demande de nom et prénom" aria-describedby="name-1-fieldset-messages">
                    <div class="fr-fieldset__element">
                        <legend class="fr-fieldset__legend" for="nomEleve">
                            Nom
                        </legend>
                        <input class="fr-input" spellcheck="false" autocomplete="nomEleve" name="nomEleve" id="nomEleve" type="text">
                    </div>
                    <div class="fr-fieldset__element">
                        <legend class="fr-fieldset__legend" for="input-prenomEleve">
                            Prénom
                        </legend>
                        <input class="fr-input" spellcheck="false" autocomplete="prenomEleve" name="prenomEleve" id="prenomEleve" type="text">
                    </div>
                </fieldset>
            </div>
                <fieldset class="fr-fieldset" aria-label="Demande securite social" aria-describedby="name-2-fieldset-messages">
                    <div class="fr-fieldset__element">
                        <legend class="fr-fieldset__legend" for="secu">
                            Numéro de Sécurité Social
                            <span class="fr-hint-text">Seulement pour les apprentis</span>
                        </legend>
                        <input class="fr-input" autocomplete="secu" aria-describedby="secu-message-error" id="secu" type="tel" placeholder="ex: 2 94 03 75 120 005 22">
                    </div>
                </fieldset>
                <fieldset class="fr-fieldset" aria-label="Demande date entree" aria-describedby="name-2-fieldset-messages">
                    <legend class="fr-fieldset__legend" id="date-legend">
                        Date d'entrée
                    </legend>
                    <div class="fr-grid-row">
                        <input class="fr-input" type="date">
                    </div>
                </fieldset>

            </form>
        </div>
    </div>
</div>
{% endblock %}