{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
    <div class="fr-collapse" id="breadcrumb-1">
        <ol class="fr-breadcrumb__list">
            <li>
                <a class="fr-breadcrumb__link" href="/">Accueil</a>
            </li>
            <li>
                <a class="fr-breadcrumb__link">Renseignement</a>
            </li>            
    </div>
</nav>

<div class="fr-container">
    <div class="fr-container">
        <h1>Inscription au Lycée Fulbert</h1>
        <div class="fr-stepper">
    <h2 class="fr-stepper__title">
        Renseignement sur l'étudiant
        <span class="fr-stepper__state">Étape 1 sur 7</span>
    </h2>
    <div class="fr-stepper__steps" data-fr-current-step="1" data-fr-steps="7"></div>
    <p class="fr-stepper__details">
        <span class="fr-text--bold">Étape suivante :</span> Scolarité antérieur
    </p>
</div>
    <div class="fr-container">
    <h3>Identité</h3>
    <form>
    {# ------------------------------------------------------------ #}
        <fieldset class="fr-fieldset" aria-label="Demande de nom et prénom" aria-describedby="name-1-fieldset-messages">
            <div class="fr-fieldset__element">
                <div class="fr-input-group">
                    <legend class="fr-fieldset__legend" for="input-family-name-1">Nom</legend>
                    <input class="fr-input" spellcheck="false" autocomplete="family-name" name="family-name" id="input-family-name-1" type="text">
                </div>
            </div>
    {# ------------------------------------------------------------ #}
            <div class="fr-fieldset__element">
                <div class="fr-input-group">
                    <legend class="fr-fieldset__legend" for="input-firstname-1">
                        Prénom
                    </legend>
                    <input class="fr-input" spellcheck="false" autocomplete="given-name" name="given-name" id="input-firstname-1" type="text">
                </div>
            </div>
            {# <div class="fr-messages-group" aria-live="assertive" id="name-1-fieldset-messages">
            </div> #}
        </fieldset>
{# ------------------------------------------------------------ #}
        <div class="fr-input-group">
            <legend class="fr-fieldset__legend" for="secu">
            Numéro de Sécurité Social
            <span class="fr-hint-text">Seulement pour les apprentis</span>
            </legend>
            <input class="fr-input" autocomplete="secu" aria-describedby="secu-message-error" id="tel-1422" type="tel">
            {# <div class="fr-messages-group" aria-live="assertive" id="tel-1-messages">
            </div> #}
        </div>
{# ------------------------------------------------------------ #}
        <div class="fr-input-group fr-grid-row">
            {# <fieldset class="fr-fieldset" id="date-default-1578-fieldset" role="group" aria-labelledby="date-default-1578-fieldset-legend date-default-1578-fieldset-messages"> #}
            <legend class="fr-fieldset__legend" id="date-default-1578-fieldset-legend">
            Date d'entrée
            </legend>
            <div class="fr-grid-row">
                <input class="fr-input" type="date">
            </div>
                {# <div class="fr-messages-group" id="date-default-1578-fieldset-messages" aria-live="assertive">
                </div>
            </fieldset> #}
        </div>
{# ------------------------------------------------------------ #}
        <div class="fr-input-group">
            <fieldset class="fr-fieldset" role="group" aria-describedby="sex-1427-fieldset-legend sex-1427-fieldset-messages" id="sex-1427-fieldset">
                <legend class="fr-fieldset__legend" id="sex-1427-fieldset-legend">
                Sexe
                </legend>
                <div class="fr-fieldset" id="radio-inline">
                {# trouver comment mettre les boutons en ligne #}
                    <div class="fr-fieldset__element">
                        <div class="fr-radio-group">
                            <input type="radio" id="sex-female-1428" name="sex">
                            <label class="fr-label" for="sex-female-1428">
                            Feminin
                            </label>
                        </div>
                    </div>
                    <div class="fr-fieldset__element">
                        <div class="fr-radio-group">
                            <input type="radio" id="sex-male-1429" name="sex">
                            <label class="fr-label" for="sex-male-1429">
                            Masculin
                            </label>
                        </div>
                    </div>
                </div>
            <div class="fr-messages-group" assert-live="assertive" id="sex-1427-fieldset-messages">
            </div>
            </fieldset>
        </div>
{# ------------------------------------------------------------ #}
        <div class="fr-input-group">
            <div class="fr-input-group">
                <legend class="fr-fieldset__legend" for="input-firstname-1">
                Nationalité
                </legend>
                <input class="fr-input" spellcheck="false" autocomplete="given-name" name="given-name" id="input-firstname-1" type="text">
            </div>
        </div>
{# ------------------------------------------------------------ #}
        <div class="fr-input-group fr-grid-row">
            {# <fieldset class="fr-fieldset" id="date-default-1578-fieldset" role="group" aria-labelledby="date-default-1578-fieldset-legend date-default-1578-fieldset-messages"> #}
            <legend class="fr-fieldset__legend" id="date-default-1578-fieldset-legend">
            Date de naissance
            </legend>
            <div class="fr-grid-row">
                <input class="fr-input" type="date">
            </div>
                {# <div class="fr-messages-group" id="date-default-1578-fieldset-messages" aria-live="assertive">
                </div>
            </fieldset> #}
        </div>

{# ------------------------------------------------------------ #}
        <div class="fr-input-group">
            <div class="fr-input-group">
                <legend class="fr-fieldset__legend" for="input-firstname-1">
                    Département de naissance
                </legend>
                <input class="fr-input" spellcheck="false" autocomplete="given-name" name="given-name" id="input-firstname-1" type="text">
            </div>
        </div>
{# ------------------------------------------------------------ #}
        <div class="fr-input-group">
            <div class="fr-input-group">
                <legend class="fr-fieldset__legend" for="input-firstname-1">
                    Commune de naissance
                </legend>
                <input class="fr-input" spellcheck="false" autocomplete="given-name" name="given-name" id="input-firstname-1" type="text">
            </div>
        </div>
{# ------------------------------------------------------------ #}
        <div class="fr-input-group">
            <legend class="fr-fieldset__legend" for="tel-1">
                Numéro de téléphone
                <span class="fr-hint-text">Format attendu : (+33) 1 22 33 44 55</span>
            </legend>
    <input class="fr-input" autocomplete="tel" aria-describedby="tel-1-message-error" id="tel-1422" type="tel">
    <div class="fr-messages-group" aria-live="assertive" id="tel-1-messages">
    </div>
</div>
{# ------------------------------------------------------------ #}
    <div class="fr-input-group">
    <legend class="fr-fieldset__legend" for="email-1">
        Adresse électronique
        <span class="fr-hint-text">Format attendu : nom@email.fr</span>
    </legend>
    <input class="fr-input" name="email" autocomplete="on" id="email-1" type="email">
</div>
{# ------------------------------------------------------------ #}


<div class="fr-checkbox-group fr-checkbox-group">
<h3>Transport</h3>
<p>Type(s) de transport utilisé(s) pour se rendre au lycée :</p>
</div>
<fieldset class="fr-fieldset" id="checkboxes-inline" aria-labelledby="checkboxes-inline-legend checkboxes-inline-messages">
    <div class="fr-fieldset__element fr-fieldset__element--inline">
        <div class="fr-checkbox-group">
            <input name="checkboxes-inline-1" id="checkboxes-inline-1" type="checkbox" aria-describedby="checkboxes-inline-1-messages">
            <label class="fr-label" for="checkboxes-inline-1">
                Filibus
            </label>
            <div class="fr-messages-group" id="checkboxes-inline-1-messages" aria-live="assertive">
            </div>
        </div>
    </div>
    <div class="fr-fieldset__element fr-fieldset__element--inline">
        <div class="fr-checkbox-group">
            <input name="checkboxes-inline-2" id="checkboxes-inline-2" type="checkbox" aria-describedby="checkboxes-inline-2-messages">
            <label class="fr-label" for="checkboxes-inline-2">
                SNCF
            </label>
            <div class="fr-messages-group" id="checkboxes-inline-2-messages" aria-live="assertive">
            </div>
        </div>
    </div>
    <div class="fr-fieldset__element fr-fieldset__element--inline">
        <div class="fr-checkbox-group">
            <input name="checkboxes-inline-3" id="checkboxes-inline-3" type="checkbox" aria-describedby="checkboxes-inline-3-messages">
            <label class="fr-label" for="checkboxes-inline-3">
                Autres
            </label>
            <div class="fr-messages-group" id="checkboxes-inline-3-messages" aria-live="assertive">
            </div>
        </div>
    </div>
    <div class="fr-messages-group" id="checkboxes-inline-messages" aria-live="assertive">
    </div>
</fieldset>
{# ------------------------------------------------------------ #}
<h3>Scolarité pour cette année</h3>
<div class="fr-checkbox-group fr-checkbox-group">
<input aria-describedby="checkbox" id="checkbox" type="checkbox">
    <label class="fr-fieldset__legend" for="checkbox">
        Redoublement
    </label>
</div>
{# ------------------------------------------------------------ #}
<fieldset class="fr-fieldset" aria-label="Demande classe specialite" aria-describedby="name-1-fieldset-messages">
    <div class="fr-fieldset__element">
        <div class="fr-input-group">
            <legend class="fr-fieldset__legend" for="input-classe-1">
                Classe
            </legend>
            <input class="fr-input" spellcheck="false" autocomplete="classe-1" name="classe-1" id="input-classe-1" type="text">
        </div>
    </div>
    <div class="fr-fieldset__element">
        <div class="fr-input-group">
            <legend class="fr-fieldset__legend" for="input-specialite">
                Spécialité
            </legend>
            <input class="fr-input" spellcheck="false" autocomplete="specialite" name="specialite" id="input-specialite" type="text">
        </div>
    </div>
    <div class="fr-messages-group" aria-live="assertive" id="name-1-fieldset-messages">
    </div>
</fieldset>
{# ------------------------------------------------------------ #}
<h3>Langues</h3>
<fieldset class="fr-fieldset" aria-label="Demande LV1 LV2" aria-describedby="name-1-fieldset-messages">
<div class="fr-grid-row">
    <div class="fr-fieldset__element">
        <div class="fr-input-group">
            <label class="fr-label" for="input-lv1">
                LV1
            </label>
            <input class="fr-input" spellcheck="false" autocomplete="lv1" name="lv1" id="input-lv1" type="text">
        </div>
    </div>
    <div class="fr-fieldset__element">
        <div class="fr-input-group">
            <label class="fr-label" for="input-specialite">
                LV2 (facultatif)
            </label>
            <input class="fr-input" spellcheck="false" autocomplete="specialite" name="specialite" id="input-specialite" type="text">
        </div>
    </div>
    <div class="fr-messages-group" aria-live="assertive" id="name-1-fieldset-messages">
    </div>
    </div>
</fieldset>
{# ------------------------------------------------------------ #}
    <p class="fr-text--bold">Souhaitez-vous être membre de la MDL ?
    <span class="fr-hint-text">(si oui, le jour de la rentrée, vous devez fournir un chèque de 10€ au nom de la MDL)</span>
    </p>
    <fieldset class="fr-fieldset" role="group" aria-describedby="sex-1427-fieldset-legend sex-1427-fieldset-messages" id="sex-1427-fieldset">
                <div class="">
                {# trouver comment mettre les boutons en ligne #}
                    <div class="fr-fieldset__element">
                        <div class="fr-radio-group">
                            <input type="radio" id="mdl-yes" name="mdl">
                            <label class="fr-label" for="mdl-yes">
                            Oui
                            </label>
                        </div>
                    </div>
                    <div class="fr-fieldset__element">
                        <div class="fr-radio-group">
                            <input type="radio" id="mdl-no" name="mdl">
                            <label class="fr-label" for="mdl-no">
                            Non
                            </label>
                        </div>
                    </div>
                </div>
            <div class="fr-messages-group" assert-live="assertive" id="sex-1427-fieldset-messages">
            </div>
            </fieldset>

{# ------------------------------------------------------------ #}
    <p class="fr-text--bold">Souhaitez-vous garder votre droit à l'image ?
    <span class="fr-hint-text">(si oui, vous n'apparaiterez sur aucune photo de l'établissement)</span>
    </p>
    <fieldset class="fr-fieldset" role="group" aria-describedby="sex-1427-fieldset-legend sex-1427-fieldset-messages" id="sex-1427-fieldset">
                <div class="">
                {# trouver comment mettre les boutons en ligne #}
                    <div class="fr-fieldset__element">
                        <div class="fr-radio-group">
                            <input type="radio" id="img-yes" name="img">
                            <label class="fr-label" for="img-yes">
                            Oui
                            </label>
                        </div>
                    </div>
                    <div class="fr-fieldset__element">
                        <div class="fr-radio-group">
                            <input type="radio" id="img-no" name="img">
                            <label class="fr-label" for="img-no">
                            Non
                            </label>
                        </div>
                    </div>
                </div>
            <div class="fr-messages-group" assert-live="assertive" id="sex-1427-fieldset-messages">
            </div>
            </fieldset>

    
        </form>
        <a class="fr-btn" href="/form/2">Suivant</a>
    </div>

    
</div>
{% endblock %}
