{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{% include 'banner.html.twig' %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="fr-container">
    <h1 style="text-align: center;" >Bienvenu(e) sur E-Inscription</h1>

    <p style="text-align: center;" >Pour continuer l'inscription, veuillez appuyer sur suivant.</p>
    <button class="fr-btn">Suivant</button>
    
</div>

{% include 'footer.html.twig' %}
{% endblock %}
