{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
{% include 'banner.html.twig' %}

<div class="fr-container">
    <div class="fr-container">
        <h1>Inscription au Lycée Fulbert</h1>
        <div class="fr-stepper">
    <h2 class="fr-stepper__title">
        Renseignement sur l'étudiant
        <span class="fr-stepper__state">Étape 1 sur 7</span>
    </h2>
    <div class="fr-stepper__steps" data-fr-current-step="1" data-fr-steps="7"></div>
    <p class="fr-stepper__details">
        <span class="fr-text--bold">Étape suivante :</span> Scolarité antérieur
    </p>
</div>
{# ------------------------------------------------------------ #}
    </div>
    <div class="fr-container">
        <form>
            <fieldset class="fr-fieldset" aria-label="Demande de nom et prénom" aria-describedby="name-1-fieldset-messages">
                <div class="fr-fieldset__element">
                    <div class="fr-input-group">
                        <label class="fr-label" for="input-family-name-1">Nom</label>
            <input class="fr-input" spellcheck="false" autocomplete="family-name" name="family-name" id="input-family-name-1" type="text">
        </div>
    </div>
    {# ------------------------------------------------------------ #}
    <div class="fr-fieldset__element">
        <div class="fr-input-group">
            <label class="fr-label" for="input-firstname-1">
                Prénom
            </label>
            <input class="fr-input" spellcheck="false" autocomplete="given-name" name="given-name" id="input-firstname-1" type="text">
        </div>
    </div>
    <div class="fr-messages-group" aria-live="assertive" id="name-1-fieldset-messages">
    </div>
</fieldset>
{# ------------------------------------------------------------ #}
<div class="fr-input-group">
    <label class="fr-label" for="tel-1">
        Numéro de Sécurité Social
        <span class="fr-hint-text">Seulement pour les apprentis</span>
    </label>
    <input class="fr-input" autocomplete="tel" aria-describedby="tel-1-message-error" id="tel-1422" type="tel">
    <div class="fr-messages-group" aria-live="assertive" id="tel-1-messages">
    </div>
</div>
{# ------------------------------------------------------------ #}
<fieldset class="fr-fieldset" id="date-default-1578-fieldset" role="group" aria-labelledby="date-default-1578-fieldset-legend date-default-1578-fieldset-messages">
    <legend class="fr-fieldset__legend" id="date-default-1578-fieldset-legend">
        Date d'entrée
    </legend>
        <input class="fr-input" type="date">
    <div class="fr-messages-group" id="date-default-1578-fieldset-messages" aria-live="assertive">
    </div>
</fieldset>
{# ------------------------------------------------------------ #}
<fieldset class="fr-fieldset" role="group" aria-describedby="sex-1427-fieldset-legend sex-1427-fieldset-messages" id="sex-1427-fieldset">
    <legend class="fr-fieldset__legend" id="sex-1427-fieldset-legend">
        Sexe
    </legend>
    <div class="fr-fieldset__element">
        <div class="fr-radio-group">
            <input type="radio" id="sex-female-1428" name="sex">
            <label class="fr-label" for="sex-female-1428">
                Feminin
            </label>
        </div>
    </div>
    <div class="fr-fieldset__element">
        <div class="fr-radio-group">
            <input type="radio" id="sex-male-1429" name="sex">
            <label class="fr-label" for="sex-male-1429">
                Masculin
            </label>
        </div>
    </div>
    <div class="fr-messages-group" assert-live="assertive" id="sex-1427-fieldset-messages">
    </div>
</fieldset>
{# ------------------------------------------------------------ #}
    <div class="fr-fieldset__element">
        <div class="fr-input-group">
            <label class="fr-label" for="input-firstname-1">
                Nationalité
            </label>
            <input class="fr-input" spellcheck="false" autocomplete="given-name" name="given-name" id="input-firstname-1" type="text">
        </div>
    </div>
    {# ------------------------------------------------------------ #}
<fieldset class="fr-fieldset" id="date-default-1578-fieldset" role="group" aria-labelledby="date-default-1578-fieldset-legend date-default-1578-fieldset-messages">
    <legend class="fr-fieldset__legend" id="date-default-1578-fieldset-legend">
        Date de naissance
    </legend>
        <input class="fr-input" type="date">
    <div class="fr-messages-group" id="date-default-1578-fieldset-messages" aria-live="assertive">
    </div>
</fieldset>
{# ------------------------------------------------------------ #}
    <div class="fr-fieldset__element">
        <div class="fr-input-group">
            <label class="fr-label" for="input-firstname-1">
                Département de naissance
            </label>
            <input class="fr-input" spellcheck="false" autocomplete="given-name" name="given-name" id="input-firstname-1" type="text">
        </div>
    </div>
{# ------------------------------------------------------------ #}
    <div class="fr-fieldset__element">
        <div class="fr-input-group">
            <label class="fr-label" for="input-firstname-1">
                Commune de naissance
            </label>
            <input class="fr-input" spellcheck="false" autocomplete="given-name" name="given-name" id="input-firstname-1" type="text">
        </div>
    </div>
    {# ------------------------------------------------------------ #}
    <div class="fr-input-group">
    <label class="fr-label" for="tel-1">
        Numéro de téléphone
        <span class="fr-hint-text">Format attendu : (+33) 1 22 33 44 55</span>
    </label>
    <input class="fr-input" autocomplete="tel" aria-describedby="tel-1-message-error" id="tel-1422" type="tel">
    <div class="fr-messages-group" aria-live="assertive" id="tel-1-messages">
    </div>
</div>
{# ------------------------------------------------------------ #}
    <div class="fr-input-group">
    <label class="fr-label" for="email-1">
        Adresse électronique
        <span class="fr-hint-text">Format attendu : nom@email.fr</span>
    </label>
    <input class="fr-input" name="email" autocomplete="on" id="email-1" type="email">
</div>
{# ------------------------------------------------------------ #}
<div class="fr-checkbox-group fr-checkbox-group">
<input aria-describedby="checkbox" id="checkbox" type="checkbox">
    <label class="fr-fieldset__legend" for="checkbox">
        Redoublement
    </label>
</div>

<div class="fr-checkbox-group fr-checkbox-group">
<input aria-describedby="checkbox" id="checkbox" type="checkbox">
    <label class="fr-fieldset__legend" for="checkbox">
        Transport
    </label>
</div>
<fieldset class="fr-fieldset" id="checkboxes-inline" aria-labelledby="checkboxes-inline-legend checkboxes-inline-messages">
    <div class="fr-fieldset__element fr-fieldset__element--inline">
        <div class="fr-checkbox-group">
            <input name="checkboxes-inline-1" id="checkboxes-inline-1" type="checkbox" aria-describedby="checkboxes-inline-1-messages">
            <label class="fr-label" for="checkboxes-inline-1">
                Filibus
            </label>
            <div class="fr-messages-group" id="checkboxes-inline-1-messages" aria-live="assertive">
            </div>
        </div>
    </div>
    <div class="fr-fieldset__element fr-fieldset__element--inline">
        <div class="fr-checkbox-group">
            <input name="checkboxes-inline-2" id="checkboxes-inline-2" type="checkbox" aria-describedby="checkboxes-inline-2-messages">
            <label class="fr-label" for="checkboxes-inline-2">
                SNCF
            </label>
            <div class="fr-messages-group" id="checkboxes-inline-2-messages" aria-live="assertive">
            </div>
        </div>
    </div>
    <div class="fr-fieldset__element fr-fieldset__element--inline">
        <div class="fr-checkbox-group">
            <input name="checkboxes-inline-3" id="checkboxes-inline-3" type="checkbox" aria-describedby="checkboxes-inline-3-messages">
            <label class="fr-label" for="checkboxes-inline-3">
                Autres
            </label>
            <div class="fr-messages-group" id="checkboxes-inline-3-messages" aria-live="assertive">
            </div>
        </div>
    </div>
    <div class="fr-messages-group" id="checkboxes-inline-messages" aria-live="assertive">
    </div>
</fieldset>
        </form>
    </div>

    
</div>
{% include 'footer.html.twig' %}
{% endblock %}
