{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
    <div class="fr-collapse" id="breadcrumb-1">
        <ol class="fr-breadcrumb__list">
            <li>
                <a class="fr-breadcrumb__link" href="/">Accueil</a>
            </li>
            <li>
                <a class="fr-breadcrumb__link" href="/form/1">Renseignement sur l'étudiant(e)</a>
            </li>
             <li>
                <a class="fr-breadcrumb__link" href="/form/2">Scolarité antérieur de l'étudiant(e)</a>
            </li>
            <li>
                <a class="fr-breadcrumb__link" href="/form/3">Responsable légaux</a>
            </li>
            <li>
                <a class="fr-breadcrumb__link" href="/form/4">Fiche d'urgence</a>
            </li>
            <li>
                <a class="fr-breadcrumb__link">Fiche d'intendance</a>
            </li>    
    </div>
</nav>

<h1>Inscription au Lycée Fulbert</h1>
<div class="fr-stepper">
    <h2 class="fr-stepper__title">
        Titre de la dernière étape en cours
        <span class="fr-stepper__state">Étape 5 sur 7</span>
    </h2>
    <div class="fr-stepper__steps" data-fr-current-step="5" data-fr-steps="7"></div>
</div>

<h3>Fiche d'Intendance</h3>

<form>
<fieldset class="fr-fieldset" id="radio-inline" aria-labelledby="radio-inline-legend radio-inline-messages">
    <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="radio-inline-legend">
        <p>Régime :</p>
    </legend>
    <div class="fr-fieldset__element fr-fieldset__element--inline">
        <div class="fr-radio-group">
            <input type="radio" id="radio-inline-1" name="radio-inline">
            <label class="fr-label" for="radio-inline-1">
                Externe
            </label>
        </div>
    </div>
    <div class="fr-fieldset__element fr-fieldset__element--inline">
        <div class="fr-radio-group">
            <input type="radio" id="radio-inline-2" name="radio-inline">
            <label class="fr-label" for="radio-inline-2">
                Demi Pensionnaire à l’Unité (Ticket à 4,55€)
            </label>
        </div>
    </div>
    <div class="fr-fieldset__element fr-fieldset__element--inline">
        <div class="fr-radio-group">
            <input type="radio" id="radio-inline-3" name="radio-inline">
            <label class="fr-label" for="radio-inline-3">
                Demi Pensionnaire au Forfait 4J
            </label>
        </div>
    </div>
    <div class="fr-fieldset__element fr-fieldset__element--inline">
        <div class="fr-radio-group">
            <input type="radio" id="radio-inline-4" name="radio-inline">
            <label class="fr-label" for="radio-inline-4">
                Demi Pensionnaire au Forfait 5J
            </label>
        </div>
    </div>
    <div class="fr-messages-group" id="radio-inline-messages" aria-live="assertive">
    </div>
    
</fieldset>

<fieldset class="fr-fieldset" id="radio-inline" aria-labelledby="radio-inline-legend radio-inline-messages">
    <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="radio-inline-legend">
        <h2>Mode de paiement</h2>
    </legend>
    <div class="fr-fieldset__element fr-fieldset__element--inline">
        <div class="fr-radio-group">
            <input type="radio" id="radio-inline-5" name="radio-inline">
            <label class="fr-label" for="radio-inline-5">
                Chèque
            </label>
        </div>
    </div>
    <div class="fr-fieldset__element fr-fieldset__element--inline">
        <div class="fr-radio-group">
            <input type="radio" id="radio-inline-6" name="radio-inline">
            <label class="fr-label" for="radio-inline-6">
                Carte Bancaire
            </label>
        </div>
    </div>
    <div class="fr-fieldset__element fr-fieldset__element--inline">
        <div class="fr-radio-group">
            <input type="radio" id="radio-inline-7" name="radio-inline">
            <label class="fr-label" for="radio-inline-7">
                Espèces
            </label>
        </div>
    </div>
    <div class="fr-fieldset__element fr-fieldset__element--inline">
        <div class="fr-radio-group">
            <input type="radio" id="radio-inline-8" name="radio-inline">
            <label class="fr-label" for="radio-inline-8">
                Télépaiement
            </label>
        </div>
    </div>
    <div class="fr-messages-group" id="radio-inline-messages" aria-live="assertive">
    </div>
</fieldset>

<h2> RIB </h2>
<div class="fr-input-group">
    <label class="fr-label" for="text-input-option">Le RIB doit être fourni en cas de remboursement tout au long de la scolarité. 
    </label>
    <input class="fr-input" type="text" id="text-input-option" name="text-input-option">
</div>


</form>


<p></p>
<a class="fr-btn" href="/form/6">Suivant</a>

{% endblock %}